.contact-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  position: relative;
  height: fit-content;
}

.pattern-contact {
  background-image: url("../assets/pattern-contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 8vw;
  aspect-ratio: 1;
  top: 35vw;
  position: absolute;
  left: 2vw;
}

.contact-left {
  width: 40%;
  padding: 2vw;
}

.contact-main-title {
  font-size: 3vw;
  font-weight: 1000;
}
.contact-subtitle {
  font-size: 1.2vw;
  font-weight: 300;
  color: #d7d5e3;
}
.contact-info-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  margin-top: 5vw;
}
.phone-icon {
  background-image: url("../assets/contact-phone.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5vw;
  aspect-ratio: 1;
}
.contact-row {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  align-items: center;
}
.mail-icon {
  background-image: url("../assets/contact-mail.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5vw;
  aspect-ratio: 1;
}
.location-icon {
  background-image: url("../assets/contact-location.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5vw;
  aspect-ratio: 1;
}
.contact-text {
  font-size: 1.1vw;
  font-weight: 200;
}
.contact-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5vw;
  padding-top: 5vw;
}

.contact-form {
  width: 33vw;
  padding: 2vw;
  background-color: rgba(84, 99, 119, 0.1);
  backdrop-filter: blur(100px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1.5vw;
  border-radius: 1.1vw;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
  align-items: center;
  justify-content: center;
}

.form-group {
  width: 100%;
}

label {
  font-size: 1.2vw;
  font-weight: 700;
  margin-bottom: 0.5vw;
  display: block;
  color: #d7d5e3;
}

.form-control {
  width: 95%;
  padding: 1vw;
  border: none;
  border-radius: 0.5vw;
  font-size: 1vw;
  outline: none;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  background-color: rgba(94, 112, 139, 0.1);
  font-family: Poppins;
  color: #d7d5e3;
}

textarea {
  resize: none;
  height: 11vw;
  width: 95%;
}

button {
  padding: 0.8vw 1.5vw;
  background-color: #545dbe;
  color: #fff;
  border: none;
  border-radius: 1vw;
  font-size: 1vw;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #d7d5e3;
}

button:hover {
  background-color: #4049ad;
}

.animate {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s ease, transform 2s ease;
}

.animate.in-view {
  opacity: 1;
  transform: translateY(0);
}

.slide-in {
  transform: translateX(-50px);
}

.slide-in.in-view {
  transform: translateX(0);
}

.fade-in {
  transform: translateY(20px);
}

.fade-in.in-view {
  transform: translateY(0);
}

.fade-in-up {
  transform: translateY(30px);
}

.fade-in-up.in-view {
  transform: translateY(0);
}
