.home-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  width: 100%;
  z-index: 2;
  position: relative;
  opacity: 0;
  animation: contentSlide 1s forwards;
  animation-delay: 0.8s;
}

@keyframes contentSlide {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.up-gradient,
.down-gradient {
  opacity: 0;
  animation: gradientMove 1s forwards;
}

.curl {
  opacity: 0;
  animation: quickFadeIn 0.5s forwards;
}
.curl {
  background-image: url("../assets/curl.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 30%;
  height: 30%;
  top: 15%;
  right: 22%;
  z-index: 2;
  animation-delay: 0.6s;
  opacity: 50% !important;
}

.up-gradient {
  background-image: url("../assets/Vector.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 10%;
  width: 50%;
  height: 40%;
  z-index: 2;
  opacity: 50%;
  animation-delay: 0.2s;
  animation-name: upGradientMove, quickFadeIn;
}

.down-gradient {
  background-image: url("../assets/vector2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  width: 50%;
  bottom: 0;
  height: 81%;
  right: 0;
  z-index: 2;
  top: 65%;
  opacity: 50%;
  animation-delay: 0.4s;
  animation-name: downGradientMove, quickFadeIn;
}

.css-blurry-gradient-1 {
  position: fixed;
  top: 18%;
  left: 15%;
  transform: translate(-50%, 0%);
  width: 50%;
  height: 50%;
  border-radius: 50% 22% 40% 80%;
  filter: blur(100px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(100, 86, 133),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.2;
  z-index: 1;
}

.css-blurry-gradient-2 {
  position: fixed;
  top: 0%;
  right: 0;
  transform: translate(-50%, 0%);
  width: 50%;
  height: 50%;
  border-radius: 50% 22% 40% 80%;
  filter: blur(100px);
  background: radial-gradient(
    circle at 50% 50%,
    rgb(100, 86, 133),
    rgba(76, 0, 255, 0)
  );
  opacity: 0.25;
  z-index: 1;
}

@keyframes quickFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes upGradientMove {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes downGradientMove {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.radial-gradient {
  position: absolute;
}

.v-line-container {
  height: 50%;
  width: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2%;
}

.line-circle {
  background-color: #cbf21e;
  border-radius: 2000px;
  aspect-ratio: 1;
  height: min(10%, 5vh);
}

.line {
  background: linear-gradient(
    to top,
    rgba(101, 231, 100, 0),
    rgba(156, 221, 37, 0.7),
    #cbf21e
  );
  width: 15%;
  height: 100%;
}

.left-container {
  display: flex;
  width: 65%;
  height: 100%;
  padding-top: 10%;
  padding-left: 5%;
  opacity: 0;
  animation: leftContainerSlide 1s forwards 1.2s;
}

@keyframes leftContainerSlide {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.name-info-container {
  display: flex;
  flex-direction: column;
}

.hi-greeting {
  font-size: 3rem;
  font-weight: 700;
}

.name-greeting {
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  width: fit-content;
}

.name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 5s steps(30) 1.5s 1 normal both,
    blink 0.75s step-end infinite;
  border-right: 3px solid wheat;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes blink {
  0%,
  100% {
    border-color: #cbf21e;
  }
  50% {
    border-color: transparent;
  }
}

@keyframes hide-border {
  100% {
    border-right: none;
  }
}

.name.typing-effect {
  animation: typing 5s steps(30) 1.5s 1 normal both,
    blink 0.75s step-end infinite, hide-border 0s 5s forwards;
}

/* .dot-pattern {
  background-image: url("../assets/dotpattern.png");
  background-size: contain;
  width: 15%;
  height: 15%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 2.5%;
  bottom: 4%;
} */

.short-info {
  font-size: 3vh;
  font-weight: 200;
  width: 70%;
}

.name {
  font-family: Preahvihear;
  color: #917ff9;
}

.right-container {
  display: flex;
  width: 35%;
  height: 100%;
  padding-top: 6%;
  justify-content: center;
  padding-right: 1%;
  opacity: 0;
  animation: rightContainerSlide 1s forwards 1.2s;
}

@keyframes rightContainerSlide {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65%;
  width: 65%;
  position: relative;
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #7358c5;
  height: min(100%, 30vw);
  aspect-ratio: 1;
  border-radius: 2000px;
  opacity: 10%;
  border: 3px #ffffff solid;
  z-index: 2;
}

.profile {
  background-image: url("../assets/IMG_5174-ai-brush-removebg-wl7fyteb.png");
  background-size: contain;
  width: 120%;
  height: 120%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 2;
}

.social-container {
  display: flex;
  flex-direction: row;
  height: 20%;
  align-items: center;
  margin-top: 5%;
  gap: 5%;
}

.icons {
  aspect-ratio: 1;
  height:40%;
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.download-cv {
  background-color: #694ac554;
  padding: 1%;
  font-weight: 500;
  border-radius: 15px;
  cursor: pointer;
  color: #9b8dd8;
  height: 45%;
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
  font-size: 1em;
  min-width: 150px;
}

.download-cv:hover {
  box-shadow: 0 0 10px 3px rgba(105, 74, 197, 0.6);
  background-color: #694ac580;
}

.icons:hover {
  transform: translateY(-10px) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.github {
  background-image: url("../assets/github.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url("../assets/linkedin.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.behance {
  background-image: url("../assets/behance 1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.mail {
  background-image: url("../assets/mail 1.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.middle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: fade-in 3s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mouse {
  width: 30px;
  height: 45px;
  border: 2px solid #a6adba;
  border-radius: 60px;
}

.mouse::before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  top: 30px;
  background: #a6adba;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  opacity: 1;
  animation: mouse 2s infinite;
}

@keyframes mouse {
  from {
    opacity: 1;
    top: 10px;
  }
  to {
    opacity: 0;
    top: 30px;
  }
}
