.skills-container {
  display: flex;
  width: 100vw;
  flex-direction: column;
  position: relative;
  
}

.up-grid {
  background-image: url("../assets/grid-up.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 20vw;
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0.5;
  display: none;
}

.down-grid {
  background-image: url("../assets/grid-down.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 25vw;
  position: absolute;
  bottom: 0;
  z-index: 1;
  opacity: 0.5;
  display: none;
}

.skills-top-container {
  width: 100%;
  flex-direction: column;
  display: flex;
  z-index: 1;
}

.skills-bottom-container {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2.5vw;
  z-index: 1;
  flex-wrap: wrap;
}

.skills-title {
  padding-left: 2vw;
  justify-content: center;
  flex-direction: column;
  padding-top: 4vh;
  display: inline-block;
}
.title-text-1 {
  font-size: 1.5vw;
  font-weight: 200;
}
.title-text-2 {
  font-size: 3vw;
  font-weight: 1000;
}
.skills-content {
  display: flex;
  width: 100vw;
  flex: 1;
  flex-direction: column;
}
.skills-container img {
  width: 4.5vw;
  height: 4.5vw;
}

.tech-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2vw 3.5vw; 
}

.tech-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5vw;
  height: 5vw;
  background: linear-gradient(
    135deg,
    rgba(128, 0, 255, 0.1),
    rgba(0, 0, 0, 0.05)
  );
  border: 1px solid rgba(200, 200, 200, 0.3);
  border-radius: 1vw;
  perspective: 800px;
  opacity: 0;
  backdrop-filter: blur(10px);
}

.tech-icon-container:hover {
  transform: scale(1.1) rotate(3deg);
  box-shadow: 0px 5px 15px rgba(128, 0, 255, 0.2),
    0px 0px 0px 4px inset
      linear-gradient(45deg, rgba(88, 88, 223, 0.4), rgba(128, 0, 255, 0.2));
  background: linear-gradient(
    135deg,
    rgba(128, 0, 255, 0.2),
    rgba(75, 0, 130, 0.1)
  );
  border: 1px solid rgba(118, 73, 223, 0.3);
  opacity: 0;
}

.tech-icon-container img {
  max-width: 70%;
  max-height: 70%;
  transition: transform 0.5s ease;
  transform-origin: center;
}

.tech-icon-container:hover img {
  transform: rotateX(30deg) rotateY(-30deg) scale(1.3);
  filter: brightness(1.2);
}

.skills-text {
  font-size: 1.3vw;
  color: #d7d5e3;
  font-weight: 300;
  line-height: 2.7vw;
  padding: 2vw;
}

.skills-overview-list {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding-left: 2vw;
  padding-right: 2vw;
  gap: 1.5vw;
}
.skills-point {
  background: linear-gradient(
    0deg,
    rgba(128, 0, 255, 0.03),
    rgba(128, 0, 255, 0.08)
  );
  color: #d7d5e3;
  padding: 1.5vw;
  border-radius: 1vw;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  font-size: 1vw;
  line-height: 1.8vw;
  opacity: 0;
  backdrop-filter: blur(10px);
}

.skills-point:hover {
  background: linear-gradient(
    0deg,
    rgba(128, 0, 255, 0.05),
    rgba(128, 0, 255, 0.15)
  );
  box-shadow: 0 8px 16px rgba(128, 0, 255, 0.15);
}

.skills-point::before {
  content: "•";
  margin-right: 10px;
  color: rgba(160, 32, 240, 0.8);
}

.tech-icon-container.in-view {
  animation: zoomIn 1s ease-out forwards;
}

.skills-point.in-view {
  animation: slideIn 1s ease-out forwards;
}

@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.skills-title {
  opacity: 0;
  transition: opacity 2s ease-in;
}
.skills-title.in-view {
  opacity: 1;
}
.skills-text {
  opacity: 0;
  transition: opacity 2s ease-in;
}
.skills-text.in-view {
  opacity: 1;
}
