.app {
  display: flex;
  flex-direction: column;
  background-color: #0a071a;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.app > div {
  height: 100vh;
  scroll-snap-align: start;
  scroll-snap-type: y mandatory;
}


