@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {   
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: #0a071a;
  font-family: Poppins;
  color: white;
  scroll-behavior: smooth;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #0a071a;
  cursor: url("./assets/arrow-cursor-outline.svg"),auto;
}

